name: MLTrainer app

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - '**/*.gitignore'
      - '**/*.gitattributes'
  pull_request:
    branches: [ main ]

env:
  DOTNET_NOLOGO: true                     # Disable the .NET logo
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true # Disable the .NET first time experience
  DOTNET_CLI_TELEMETRY_OPTOUT: true   

jobs:
  build:
    strategy:
      matrix:
        os: [macos-12, windows-2022]

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: install .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.x

    - name: Install MAUI Workloads
      run: dotnet workload install maui --ignore-failed-sources

    - name: Build MAUI App
      run: dotnet build Maui/MLTrainer/MLTrainer.sln -c Release

    - name: Archive macOS MAUI App
      uses: actions/upload-artifact@v2
      with:
        name: MLTrainer-macos
        path: Maui/MLTrainer/bin/Release/net6.0-maccatalyst/MLTrainer.app

    - name: Archive Windows MAUI App
      uses: actions/upload-artifact@v2
      with:
        name: MLTrainer-windows
        path: Maui/MLTrainer/bin/Release/net6.0-windows10.0.19041.0/win10-x64
